STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_MONTHLY_PRICE_ID=price_1TFEJ7RQk3QTRldWnabzjVYf
STRIPE_ANNUAL_PRICE_ID=price_1TFEJXRQk3QTRldWR9xLDPFx
NEXT_PUBLIC_URL=https://codegrid.app
RESEND_API_KEY=re_...
KEYFORGE_API_KEY=sk_wkkck0o0nmk0q944jwc53i895bzkdwkvae6wd8e7c0
KEYFORGE_PRODUCT_ID=p_uyid9x6sml93uns6kht11vtj
